<ion-header>
    <ion-toolbar color="dark">
        <ion-title style="text-align: center;">
            <h2>Sobre Mim</h2>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <img src="assets/images/eu.jpeg" alt="Minha foto" class="img-responsive" />
        <ion-card-header>
            <ion-card-title style="text-align: center;background:black;color:white;">
                Tiago Ribeiro Santos
            </ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
            Sou Desenvolvedor Mobile, Programador Web e um apaixonado por programação e aprender novas tecnologias. Trabalho também com robótica educacional com Arduino e dou aulas de programação.
        </ion-card-content>
        <ion-card-content>
            <ion-card-title style="text-align: center;background:black;color:white;">
                Contato
            </ion-card-title>
            <ion-card-content padding style="text-align: center;">
                <ion-card-subtitle>
                    <h3><u>Email </u></h3>
                </ion-card-subtitle> tiago.programador@hotmail.com
                <br>
                <ion-card-subtitle style="padding-top:10px;">
                    <h3><u>Site </u></h3>
                </ion-card-subtitle> www.checkmateti.6te.net
                <br>
                <ion-card-subtitle style="padding-top:10px;">
                    <h3><u>GitHub </u></h3>

                </ion-card-subtitle>www.github.com/tiglinux
            </ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-toolbar color="primary">
    <ion-footer>
        <ion-title>
            <!-- JavaScript de Data para mostrar usuário.-->
        </ion-title>
        <ion-title style="text-align:center;">
            Entre em contato comigo ;)
        </ion-title>
    </ion-footer>
</ion-toolbar>